<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.diagnostics>
    <sources>
      <source name="MyService" switchName="General">
        <listeners>
          <clear />
          <!--<add name="FileLog"/>-->
          <!--<add name="EventLog"/>-->
          <add name="myLocalLystner" type="System.Diagnostics.TextWriterTraceListener"
               initializeData="output.log" >
            <filter type="System.Diagnostics.EventTypeFilter" initializeData="Warning"/>
          </add>
          <remove name="Default" />
        </listeners>
      </source>
      <!--<source name="MyService1" switchName="DefaultSwitch">
        <listeners>
          <clear />
          <add name="ConsoleListener" />
          <remove name="Default" />
        </listeners>
      </source>-->
    </sources>
    <switches>
      <add name="DefaultSwitch" value="1" />
      <add name="General" value="1" />
      <add name="QueryLogger" value="1"/>
      <!--  Off Error Warning Info Verbose. Should be set to Error for production!!
      0 (off), 1 (error), 2 (warning), 3 (info), OR 4 (verbose), All
      -->
    </switches>
    <sharedListeners>
      <!--<add name="FileLog"
           type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
           initializeData="FileLogWriter"/>-->
      <!--<add name="EventLog" type="System.Diagnostics.ConsoleTraceListener" initializeData="MyService"/>-->
      <add name="ConsoleListener" type="System.Diagnostics.ConsoleTraceListener" initializeData="MyService"/>
    </sharedListeners>
  </system.diagnostics>
</configuration>

<!--<?xml version=”1.0” encoding=”utf-8” ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source name=”myTraceSource” switchName=”defaultSwitch”>
        <listeners>
          <add initializeData=”output.txt”
               type=”System.Diagnostics.TextWriterTraceListeer”
               name=”myLocalListener”>
            <filter type=”System.Diagnostics.EventTypeFilter”
                    initializeData=”Warning”/>
          </add>
          <add name=”consoleListener” />
          <remove name=”Default”/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData=”output.xml”
           type=”System.Diagnostics.XmlWriterTraceListener”
           name=”xmlListener” traceOutputOptions=”None” />
      <add type=”System.Diagnostics.ConsoleTraceListener” name=”consoleListener”
           traceOutputOptions=”None” />
    </sharedListeners>
    <switches>
      <add name=”defaultSwitch” value=”All” />
    </switches>
  </system.diagnostics>
</configuration>-->
